<div class="f-info">
    <div class="f-left">
        <div class="f-brand">&copy; ExploreNest Pvt. Limited</div>
        <div class="f-links">
        <a href="#">· Privacy</a>
        <a href="#">· Terms</a>
    </div>
    </div>
    <div class="f-links-social">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-square-x-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
    </div>
</div>